.zopa {
  font-family: 'ZopaCyr';
}
a:hover {
  text-decoration: none;
}
.bold {
  font-weight: 600;
}
.fz14 {
  font-size: 14px !important;
}
.fz10 {
  font-size: 10px !important;
}
.fz30 {
  font-size: 30px !important;
}
.fz36 {
  font-size: 36px !important;
}
.fz20 {
  font-size: 20px !important;
}
.boldfont {
  font-family: boldfont;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p60 {
  padding: 60px;
}
.tal {
  text-align: left !important;
}
.dib {
  display: inline-block;
}
.w100per {
  width: 100%;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
wraper {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 20px;
}
wraper:before,
wraper:after {
  content: '';
  display: table;
}
wraper:after {
  clear: both;
}
body {
  font-family: 'Ubuntu';
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0;
}
.dotted {
  border-bottom: 1px dotted #5b3d0c;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 10px;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.header {
  background: url("../img/header-bg.png") no-repeat;
  padding: 10px 0;
}
.header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-info-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logoBlock-text {
  font-size: 14px;
  font-weight: 700;
  color: #5b3d0c;
  margin-top: 10px;
  text-shadow: 1px 1px 0px #fff;
}
.header-slogan {
  font-size: 18px;
  color: #5b3d0c;
  font-family: 'ZopaCyr';
  margin-left: 80px;
  text-shadow: 1px 1px 0px #fff;
}
@media only screen and (max-width: 1050px) {
  .header-slogan {
    display: none;
  }
}
.header-contact-number {
  font-size: 28px;
  font-family: 'PT Sans';
  font-weight: bold;
}
.header-contact-callback {
  display: block;
  color: #fff;
  width: 100%;
  background: #09af4b;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'PT Sans';
  border-radius: 3px;
  font-weight: bold;
  margin: 5px 0;
}
.header-contact-text {
  font-size: 16px;
  font-family: 'Ubuntu';
  font-weight: 400;
  text-align: center;
  color: #5b3d0c;
  text-shadow: 1px 1px 0px #fff;
}
.header-mainMenu {
  width: 100%;
  background: #008a45;
}
.header-mainMenu ul {
  margin: 0px;
}
.header-mainMenu-elem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .header-mainMenu-elem {
    display: none;
  }
}
.header-mainMenu-elem a {
  color: #fff;
}
@media only screen and (max-width: 1050px) {
  .header-mainMenu-elem a {
    font-size: 12px;
  }
}
@media only screen and (max-width: 780px) {
  .header-mainMenu-elem a {
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 5px;
  }
}
.header-mainMenu-elem li {
  list-style: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.main-baner {
  background: url("../img/main-banner.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.main-baner-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0%;
  margin-right: 1%;
}
.main-baner-left:before,
.main-baner-left:after {
  content: '';
  display: table;
}
.main-baner-left:after {
  clear: both;
}
.main-baner-left:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 960px) {
  .main-baner-left {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 1%;
  }
  .main-baner-left:before,
  .main-baner-left:after {
    content: '';
    display: table;
  }
  .main-baner-left:after {
    clear: both;
  }
  .main-baner-left:last-child {
    margin-right: 0%;
  }
  .main-baner-left img {
    margin: 0 auto;
    width: auto;
  }
}
.main-baner-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  margin-top: 75px;
}
.main-baner-figure {
  font-family: 'PT Sans';
  text-shadow: 1px 1px 0px #008a45;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff9c00;
  padding: 25px;
  background-image: -moz-linear-gradient(66deg, #ec9921 0%, #ffae00 100%);
  background-image: -webkit-linear-gradient(66deg, #ec9921 0%, #ffae00 100%);
  background-image: -ms-linear-gradient(66deg, #ec9921 0%, #ffae00 100%);
  box-shadow: 1.5px 2.598px 0px 0px rgba(49,46,43,0.15);
  width: 175px;
  height: 95px;
  border-radius: 55px 5px;
  flex-flow: column;
  align-items: flex-start;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.cloud-big-text {
  font-size: 36px;
  text-transform: uppercase;
  margin-top: -10px;
}
.main-baner-text {
  text-shadow: 1px 1px 0px #fff;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  width: 140px;
}
.main-baner-house {
  width: 100%;
  max-height: 285px;
}
.main-baner-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0%;
  margin-right: 1%;
}
.main-baner-right:before,
.main-baner-right:after {
  content: '';
  display: table;
}
.main-baner-right:after {
  clear: both;
}
.main-baner-right:last-child {
  margin-right: 0%;
}
@media only screen and (max-width: 960px) {
  .main-baner-right {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 1%;
  }
  .main-baner-right:before,
  .main-baner-right:after {
    content: '';
    display: table;
  }
  .main-baner-right:after {
    clear: both;
  }
  .main-baner-right:last-child {
    margin-right: 0%;
  }
  .main-baner-right img {
    margin: 0 auto;
    width: auto;
  }
}
.main-menu-toggle {
  color: #fff;
  display: none;
}
@media only screen and (max-width: 780px) {
  .main-menu-toggle {
    display: block;
    display: flex;
    justify-content: flex-end;
  }
}
.main-menu-toggle:hover {
  cursor: pointer;
}
.main-baner-srv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.5);
  padding: 20px 10px;
  border-radius: 5px;
}
.main-baner-srv-text {
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: bold;
  color: #5b3d0c;
  margin-left: 10px;
}
.main-baner-srv-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 780px) {
  .main-baner-srv-item {
    width: 33%;
  }
}
.button-line {
  margin: 30px 0;
}
.button-line a {
  display: block;
  color: #5b3d0c;
}
.button-line .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .button-line .container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.button-line .container .button-line-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #ffc26e;
  background: #ff9b2e linear-gradient(180deg, #ffc26e, #ff9b2e) repeat-x;
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 3px 3px 1px #a55f13;
}
@media only screen and (max-width: 1050px) {
  .button-line .container .button-line-item {
    height: 55px;
  }
}
@media only screen and (max-width: 640px) {
  .button-line .container .button-line-item {
    height: 55px;
    width: 48%;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}
.button-line .container .button-line-item:hover {
  cursor: pointer;
}
.button-line .container .button-line-item:last-child {
  margin-right: 0;
}
.button-line .container .button-line-item img {
  margin-right: 20px;
}
.content h1 {
  font-family: 'Ubuntu';
  font-size: 30px;
  font-weight: 500;
  color: #333;
  margin-top: 0;
}
.content p,
.content li {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  line-height: 25px;
}
.content li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #09af4b;
  border-radius: 50%;
  left: -13px;
  top: 7px;
}
.content li {
  list-style: none;
  position: relative;
}
.content p {
  text-indent: 20px;
  margin: 5px;
  padding: 5px;
}
.content p a {
  color: #3687de;
  border-bottom: 1px dotted #3687de;
}
.content ul {
  padding: 0;
  margin: 0;
  padding-left: 40px;
}
.content-text {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.75%;
  margin-left: 0%;
  margin-right: 1%;
}
@media only screen and (max-width: 780px) {
  .content-text {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 66.33333333333333%;
    margin-left: 0%;
    margin-right: 1%;
  }
  .content-text:before,
  .content-text:after {
    content: '';
    display: table;
  }
  .content-text:after {
    clear: both;
  }
  .content-text:last-child {
    margin-right: 0%;
  }
}
.content-text:before,
.content-text:after {
  content: '';
  display: table;
}
.content-text:after {
  clear: both;
}
.content-text:last-child {
  margin-right: 0%;
}
.content-rightBaner {
  height: 535px;
  background: url("../img/baner-sale.png") no-repeat;
  background-size: cover;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
@media only screen and (max-width: 780px) {
  .content-rightBaner {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 32.666666666666664%;
    margin-left: 0%;
    margin-right: 1%;
  }
  .content-rightBaner:before,
  .content-rightBaner:after {
    content: '';
    display: table;
  }
  .content-rightBaner:after {
    clear: both;
  }
  .content-rightBaner:last-child {
    margin-right: 0%;
  }
}
.content-rightBaner:before,
.content-rightBaner:after {
  content: '';
  display: table;
}
.content-rightBaner:after {
  clear: both;
}
.content-rightBaner:last-child {
  margin-right: 0%;
}
.content-rightBaner-button {
  border: 0;
  background: #008a45;
  color: #fff;
  padding: 10px 20px;
  width: 80%;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 3px 1px #03522b;
}
.content-rightBaner-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.content-rightBaner-form input {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0;
  border: 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0.5px 0.866px 4px 0px rgba(57,51,46,0.4), inset 2.5px 4.33px 5px 0px rgba(49,46,43,0.2);
}
.content-rightBaner-title {
  color: #fff;
  padding: 10px;
  background: rgba(34,34,34,0.79);
  font-size: 20px;
  text-align: center;
}
.big-text {
  width: 100%;
  font-size: 25px;
}
.content-rightBaner-date {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
}
.main-baner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.main-baner-button img {
  display: inline;
  margin-right: 10px;
}
.main-baner-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 0px #222;
  text-transform: uppercase;
  color: #fff;
  background: #ff5800;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  display: inline-flex;
  margin-bottom: 20px;
  box-shadow: 1px 3px 1px #03522b;
}
.text-button {
  padding: 10px 30px;
  text-shadow: 1px 1px 0px #222;
  color: #fff;
  background: #ff9c00;
  font-size: 18px;
  border-radius: 5px;
  display: inline-flex;
  margin-bottom: 20px;
  box-shadow: 0px 3px 0px #845917;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.text-button img {
  display: inline;
  margin-right: 10px;
}
.slider-proj {
  margin-top: 60px;
}
.slider-proj-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: 'Ubuntu';
}
.slider-proj-mainEl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0 10px;
}
.slider-proj-mainEl-img img {
  width: 100%;
}
.slider-proj-main-title {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #008a45;
}
.slider-proj-main-var {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.slider-proj-main-but {
  text-align: center;
  padding: 5px;
  border: 1px solid #008a45;
  color: #008a45;
  margin-top: 10px;
  display: block;
}
.slider-proj-main-char,
.slider-proj-main-info {
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: #f7f7f7;
}
.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-proj-main-price {
  background-color: #ffbb52;
  display: inline-flex;
  padding: 10px;
  font-size: 14px;
  padding: 5px 20px;
  position: absolute;
  top: -35px;
  left: -10px;
}
.slider-proj-main-price:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid #bf6a2b;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 0px;
  z-index: 3000;
}
.form-lid {
  background: url("../img/form-bg.png") no-repeat;
  padding: 30px 0px;
  margin-top: 40px;
}
.form-lid input[type="checkbox"] {
  display: none;
}
.form-lid input[type="checkbox"] + label span {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url("../img/chek-sprite.png");
  cursor: pointer;
}
.form-lid input[type="checkbox"]:checked + label span {
  background: url("../img/chek-sprite.png");
  background-position-x: 32px;
}
.form-lid-title {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.form-lid-left {
  width: 20%;
}
@media only screen and (max-width: 780px) {
  .form-lid-left {
    width: 30%;
  }
}
.form-lid-left-checkbox {
  margin-bottom: 10px;
}
.form-lid-right {
  width: 20%;
}
@media only screen and (max-width: 780px) {
  .form-lid-right {
    width: 30%;
  }
}
.form-lid-right form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.form-lid-right input {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0;
  border: 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0.5px 0.866px 4px 0px rgba(57,51,46,0.4), inset 2.5px 4.33px 5px 0px rgba(49,46,43,0.2);
}
.form-lid-right button {
  border: 0;
  background: #ff9c00;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #845917;
}
.form-lid-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  padding: 40px 0;
  background: #48924e;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.footer ul li {
  list-style: none;
  margin-bottom: 10px;
  display: block;
}
@media only screen and (max-width: 960px) {
  .footer ul li {
    font-size: 12px;
  }
}
.footer ul li a {
  color: #fff;
}
.footer-el {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 19.2%;
  margin-left: 0%;
  margin-right: 1%;
}
.footer-el:before,
.footer-el:after {
  content: '';
  display: table;
}
.footer-el:after {
  clear: both;
}
.footer-el:last-child {
  margin-right: 0%;
}
.footer-el:nth-child(2) a {
  text-transform: uppercase;
}
.footer-el:nth-child(4) {
  color: #fff;
}
@media only screen and (max-width: 960px) {
  .footer-el:nth-child(4) {
    font-size: 12px;
  }
}
.footer-el:nth-child(4) div {
  margin-bottom: 10px;
}
.footer-el:nth-child(5) span {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}
.footer-wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
.footer-phone {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}
@media only screen and (max-width: 960px) {
  .footer-phone {
    font-size: 18px;
  }
}
.breadcrump ul {
  display: flex;
}
.breadcrump ul a {
  color: #333;
  font-weight: 400;
}
.breadcrump ul li {
  list-style: none;
  margin-right: 30px;
  position: relative;
}
.breadcrump ul li:after {
  content: '/';
  position: absolute;
  right: -20px;
}
.breadcrump ul li:last-child a {
  color: #767676;
}
.breadcrump ul li:last-child:after {
  content: ' ';
  position: absolute;
  right: -20px;
}
.catalog-head-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 79.8%;
  margin-left: 0%;
  margin-right: 1%;
  display: flex;
}
.catalog-head-left:before,
.catalog-head-left:after {
  content: '';
  display: table;
}
.catalog-head-left:after {
  clear: both;
}
.catalog-head-left:last-child {
  margin-right: 0%;
}
.catalog-head-left-text {
  padding: 20px;
}
.catalog-head-left-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}
.catalog-head-left-title {
  font-size: 26px;
  font-weight: 500;
}
.catalog-head-right-block {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 19.2%;
  margin-left: 0%;
  margin-right: 1%;
  padding: 10px;
  background: url("../img/bg-catalog.png") no-repeat;
  background-size: cover;
  border-radius: 5px;
  border: 1px solid #eae9e9;
}
.catalog-head-right-block:before,
.catalog-head-right-block:after {
  content: '';
  display: table;
}
.catalog-head-right-block:after {
  clear: both;
}
.catalog-head-right-block:last-child {
  margin-right: 0%;
}
.catalog-head-right-block span {
  display: block;
}
.catalog-head-right-big-title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.catalog-head-right-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.catalog-head-right-text {
  font-size: 14px;
  line-height: 35px;
}
.catalog-head-right-textArrow {
  margin-bottom: 30px;
  margin-top: 15px;
  position: relative;
}
.catalog-head-right-textArrow img {
  position: absolute;
  left: 100px;
  top: 10px;
}
.catalog-head-right-but {
  padding: 10px;
  text-shadow: 1px 1px 0px #222;
  color: #fff;
  background: #ff9c00;
  font-size: 14px;
  border-radius: 5px;
  display: inline-flex;
  box-shadow: 0px 3px 0px #845917;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
}
.catalog-head-right-but img {
  display: inline;
  margin-right: 10px;
}
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.catalog-lineFilter {
  color: #fff;
  background: #5fa869;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 20px;
}
.catalog-lineFilter-left {
  display: flex;
}
.catalog-lineFilter-left-el {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
.catalog-lineFilter-left-el:first-child {
  margin-left: 100px;
  text-transform: uppercase;
}
.catalog-lineFilter-left-el span {
  margin: 0 10px;
}
.catalog-lineFilter-trigle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
}
.catalog-lineFilter-left-active {
  background: #008a45;
}
.catalog-main-left-wrap {
  background: #ececec;
  padding: 20px 15px;
}
.catalog-main-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 24.25%;
  margin-left: 0%;
  margin-right: 1%;
}
.catalog-main-left:before,
.catalog-main-left:after {
  content: '';
  display: table;
}
.catalog-main-left:after {
  clear: both;
}
.catalog-main-left:last-child {
  margin-right: 0%;
}
.catalog-main-left-tile {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.catalog-main-left-togBut {
  border-radius: 10px;
  border: 1px solid #a9a9a9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-main-left-togBut-left {
  height: 35px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Ubuntu';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background: #d38c00;
  background: #f0ae3d linear-gradient(180deg, #d38c00, #f0ae3d) repeat-x;
  border-radius: 10px 0px 0px 10px;
  box-shadow: inset 2px 6px 6px #845d06;
}
.catalog-main-left-togBut-left img {
  margin-right: 15px;
}
.catalog-main-left-togBut-right {
  height: 35px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Ubuntu';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  background: #f9c24d;
  background: #f38218 linear-gradient(180deg, #f9c24d, #f38218) repeat-x;
  border-radius: 0px 10px 10px 0px;
  box-shadow: inset 0px 1px 4px #fff;
}
.catalog-main-left-togBut-right img {
  margin-right: 15px;
}
.catalog-main-left-divider {
  margin: 15px 0;
  height: 2px;
  width: 100%;
  background: #d9d9d9;
  border-bottom: 1px solid #fff;
  display: block;
}
.catalog-main-left input[type="checkbox"] {
  display: none;
}
.catalog-main-left input[type="checkbox"] + label span {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url("../img/chek-sprite-orange.png");
  cursor: pointer;
}
.catalog-main-left input[type="checkbox"]:checked + label span {
  background: url("../img/chek-sprite-orange.png");
  background-position-x: 22px;
}
.catalog-main-left-inputs {
  margin-left: 30px;
  margin-bottom: 10px;
}
.catalog-main-left-inputs text {
  font-size: 14px;
  font-weight: 400;
}
.catalog-main-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74.75%;
  margin-left: 0%;
  margin-right: 1%;
}
.catalog-main-right:before,
.catalog-main-right:after {
  content: '';
  display: table;
}
.catalog-main-right:after {
  clear: both;
}
.catalog-main-right:last-child {
  margin-right: 0%;
}
.catalog-main-left-baner {
  margin-top: 20px;
}
.catalog-main-left-baner img {
  width: 100%;
}
.catalog-main-el {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0%;
  margin-right: 1%;
  color: #333;
  padding-bottom: 10px;
  border: 1px solid #ececec;
  margin-bottom: 10px;
}
.catalog-main-el:before,
.catalog-main-el:after {
  content: '';
  display: table;
}
.catalog-main-el:after {
  clear: both;
}
.catalog-main-el:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.catalog-main-el:nth-child(2n+1) {
  clear: both;
}
.catalog-main-el-top {
  display: flex;
}
.catalog-main-el-top-left {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0%;
  margin-right: 1%;
}
.catalog-main-el-top-left:before,
.catalog-main-el-top-left:after {
  content: '';
  display: table;
}
.catalog-main-el-top-left:after {
  clear: both;
}
.catalog-main-el-top-left:last-child {
  margin-right: 0%;
}
.catalog-main-el-top-right {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 49.5%;
  margin-left: 0%;
  margin-right: 1%;
  padding: 10px;
}
.catalog-main-el-top-right:before,
.catalog-main-el-top-right:after {
  content: '';
  display: table;
}
.catalog-main-el-top-right:after {
  clear: both;
}
.catalog-main-el-top-right:last-child {
  margin-right: 0%;
}
.catalog-main-el-top-right-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
  color: #222;
}
.catalog-main-el-top-right-text {
  font-size: 14px;
  margin-bottom: 15px;
}
.catalog-main-el-info {
  margin-bottom: 5px;
}
.catalog-main-el-info span {
  font-size: 14px;
}
.catalog-main-el-info img {
  margin-right: 15px;
  display: inline-block;
}
.catalog-main-el-bot {
  padding-left: 10px;
  font-size: 14px;
}
.catalog-main-right-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
}
.catalog-main-right-footer-left {
  color: #333;
  font-size: 14px;
}
.catalog-main-right-footer-left div {
  margin-top: 10px;
}
.catalog-main-right-footer-left a {
  color: #0074d9;
  margin-left: 10px;
  border-bottom: 1px dotted #0074d9;
}
.catalog-main-right-footer-right div {
  font-size: 14px;
  color: #7a7a7a;
}
.catalog-right-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.catalog-right-pagination-el {
  padding: 8px 10px;
  border: 1px solid #262525;
  margin-left: 10px;
  color: #262525 !important;
}
.pagination-active {
  border: 1px solid #7a7a7a !important;
  color: #7a7a7a !important;
}
.catalog-form-right form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.catalog-form-right input {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0;
  border: 0px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0.5px 0.866px 4px 0px rgba(57,51,46,0.4), inset 2.5px 4.33px 5px 0px rgba(49,46,43,0.2);
}
.catalog-form {
  padding: 30px;
  background: url("../img/bg-form.png") no-repeat;
}
.catalog-form-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.catalog-form-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-form-left {
  width: 50%;
  margin-right: 50px;
}
.catalog-form-right {
  width: 25%;
}
.catalog-form-right-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 20px;
}
.catalog-form-right-file span {
  font-size: 14px;
}
.catalog-form-button {
  border: 0;
  background: #ea9720;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #86540d;
  margin-top: 10px;
}
.catalog-form-right-file-but {
  border: 0;
  background: #ea9720;
  color: #333;
  padding: 5px 10px;
  width: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0px 3px 0px #86540d;
}
.catalog-main-el-top-left,
.slider-proj-mainEl-img {
  position: relative;
}
.catalog-main-el-top-left .owl-prev,
.slider-proj-mainEl-img .owl-prev {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -25px;
}
.catalog-main-el-top-left .owl-next,
.slider-proj-mainEl-img .owl-next {
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -25px;
}
.catalog-main-el-top-left .fa,
.slider-proj-mainEl-img .fa {
  font-size: 45px;
  color: #fff;
}
