<!DOCTYPE html>
html(lang="en")
	//Include header-scripts
	include ./block_html/head.jade
body
	include ./block_html/header.jade
	
	//breadcrump
	.breadcrump
		.container
			ul
				li 
					a(href="#") Главная
				li 
					a(href="#") О компании
	
	//About-head
	.about-head
		.container
			.about-head-left
				.about-head-left-title Компания "Вологодское зодчество" - лидер на рынке строительства из дерева.
				.about-head-left-text
					p Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые материалы.  Наши технологиии выверены временем. Мы создали уже более 400 домов, в которых живут счастливые семьи.
					p Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые материалы.  Наши технологиии выверены временем. Мы создали уже более 400 домов, в которых живут счастливые семьи.
					p Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые. Мы занимаемся производством домов уже более 10 лет. 
						a(href="#") Читать далее
			.about-head-right
				img(src="img/items-6.png", alt="")

	//About comands
	.container
		.about-title Наша команда
		.about-comand
			- for (var i = 0; i < 8; i++)
				.about-comand-items
					.about-comand-items-title Ольга Иванова
					a(href="img/comand.png").about-comand-img
						img(src="img/comand.png", alt="")
					.about-comand-items-mail 
						span.fa.fa-envelope-o
						span Написать письмо
					.about-comand-items-number +7 (817) 921-40-51
				
	//About-slider-cert
	.container
		.about-title Дипломы / Сертификаты
		.Garant-slider-cert-wrap
			- for (var i = 0; i < 8; i++)
				a(href="img/cert.png").Garant-slider-cert-img
					img(src="img/cert.png").Garant-slider-cert

	//About-rewiev
	.container
		.garant-title Отзывы о нашей работе:
		.garant-rewiev
			- for (var i = 0; i < 3; i++)
				.garant-rewiev-items
					.garant-rewiev-items-head
						img(src="img/avatar.png").garant-rewiev-items-head-img
						.garant-rewiev-items-head-text
							span Иван Попов
							span Банк "РУССКИЙ СТАНДАРТ"
					.garant-rewiev-items-review „Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые материалы.  Наши технологиии выверены временем. Мы создали уже более 400 домов, в которых живут счастливые семьи.  Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые материалы.  Наши технологиии выверены временем. Мы создали уже более 400 домов, в которых живут счастливые семьи. Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые материалы.  Наши технологиии выверены временем. Мы создали уже более 400 домов, в которых живут счастливые семьи. Мы занимаемся производством домов уже более 10 лет. В своей работе мы используем только экологически чистые материалы.  “

	//About-partners
	.container
		.about-title Наши партнеры
		.about-partners
			- for (var i = 0; i < 18; i++)
				a(href="img/partners.png")
					img(src="img/partners.png", alt="")


	//About-form
	.garant-form
		.container
			.garant-form-title Давайте сотрудничать <br> Отправьте свой вопрос и мы ответим
			.garant-form-wraper
				form(action="")
					.garant-form-wraper-left
						input(type="text" placeholder="Ваше имя")
						input(type="text" placeholder="Ваш телефон")
					.garant-form-wraper-right
						textarea(name="", cols="30", rows="4" placeholder="Ваше сообщение")
				.garant-form-right
					.garant-form-right-file
						img(src="img/icon-ckrepka.png", alt="")
						span Приложить свой проект
						a(href="#").garant-form-right-file-but Обзор
					button.garant-form-button Отправить
	

	include ./block_html/footer.jade 
	//Include Footer-scripts
	include ./block_html/script.jade 