<!DOCTYPE html>
html(lang="en")
	//Include header-scripts
	include ./block_html/head.jade
body
	include ./block_html/header.jade
	
	//breadcrump
	.breadcrump-work
		.container
			.breadcrump-work-wraper
				.breadcrump-work-left
					ul
						li 
							a(href="#") Главная
						li 
							a(href="#") Проекты из бревна
						li 
							a(href="#") Название проекта
				.breadcrump-work-right
					.breadcrump-work-right-but
						img(src="img/calc-green.png", alt="")
						span Расчитать стоимость самостоятельно
					.breadcrump-work-right-link
						img(src="img/left-arrow.png", alt="")
						a(href="#") Вернуться в каталог
	
	//works
	.container
		.works
			//.works-left
			.works-left
				.works-left-head.owl-carousel
					img(src="img/items-7.png", alt="")
					img(src="img/garant-img-9.png", alt="")
					img(src="img/items-7.png", alt="")
					img(src="img/garant-img-9.png", alt="")
					img(src="img/items-7.png", alt="")
					img(src="img/garant-img-9.png", alt="")
				.works-left-items.owl-carousel
					img(src="img/items-7.png", alt="")
					img(src="img/garant-img-9.png", alt="")
					img(src="img/items-7.png", alt="")
					img(src="img/garant-img-9.png", alt="")
					img(src="img/items-7.png", alt="")
					img(src="img/garant-img-9.png", alt="")





			//.works-right
			.works-right
				.works-right-title Проект №В3-109; Дом из бревна, 120 м2
				.works-right-text Загородный двухэтажный дом из бревна с просторной террасой и балконом
				.works-right-info
					.works-right-info-items
						img(src="img/icon-green-forest.png", alt="")
						span Материал в проекте : Бревно 0,28
					.works-right-info-items
						img(src="img/icon-green-rule.png", alt="")
						span Общая площадь: 120 м2
					.works-right-info-items
						img(src="img/icon-green-water.png", alt="")
						span Возможность устройства встроенной сауны: ДА
					.works-right-info-items
						img(src="img/icon-green-clock.png", alt="")
						span Срок строительства - 12 месяцев
				.works-right-params
					.works-right-params-left
						img(src="img/icon-zero.png", alt="")
						span Диаметры для строительства проекта:
							strong от ф22 - до ф34
					.works-right-params-right
						img(src="img/icon-grey-bruce.png", alt="")
						span Возможность реализации в брусе:
							strong Да
				.works-right-but
					a(href="#").works-right-but-el 
						span узнать  цену
					span.or или
					a(href="#").works-right-but-el 
						span Переделать проект <br> под меня бесплатно

	//works-nav
	.container
		.works-nav
			a(href="#").works-nav-items 
				i.fa.fa-arrow-circle-o-left
				span Предыдущая работа
			a(href="#").works-nav-items 
				span Следующая работа
				i.fa.fa-arrow-circle-o-right

	//works-tab
	.container
		#horizontalTab
			ul
				li
					a(href="#works-tab-1") Комплектация „Стандарт“
				li
					a(href="#works-tab-2") Комплектация „Люкс“
				li
					a(href="#works-tab-3") Дополнительные возможности
				
			.works-tab-text#works-tab-1   
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor architecto cum perferendis deleniti dolore consequatur quod quibusdam tempore assumenda alias ut repudiandae modi, nesciunt recusandae, itaque officia dolorem quos? Voluptate corrupti, esse, cumque impedit recusandae tempora neque sequi rerum, qui optio dolorem. In saepe quod impedit quia sunt nesciunt odio, consequatur dicta ipsam beatae ab perferendis unde error, eos temporibus doloremque quas nostrum voluptatem numquam! 

				p Atque officia ab reiciendis rem porro libero consequatur quis quam suscipit adipisci, modi consectetur, necessitatibus repellat, velit possimus doloribus tempore odit architecto dolorum ipsa amet excepturi optio, beatae deleniti. Eos assumenda, reiciendis soluta qui? Labore sit, accusamus quos suscipit velit dolores sunt porro fuga ad possimus doloribus facere. Dignissimos id commodi, facilis nisi hic, temporibus maxime voluptates illo nostrum odio molestias perspiciatis cupiditate rerum fugiat voluptatibus minima et iste. Esse facere optio quis explicabo ratione, vel saepe autem, neque, sit reprehenderit cumque ullam similique deserunt necessitatibus est quaerat pariatur tenetur. Beatae, repellendus in dolor possimus, omnis sunt alias fugiat obcaecati cum itaque. Quas, qui quibusdam quia blanditiis, 

				p molestias quo iusto aut, excepturi totam ullam autem! Sint nisi laborum numquam nobis incidunt sit, iste voluptates pariatur odio rerum possimus omnis voluptate laudantium unde odit placeat laboriosam esse consectetur qui enim accusantium dignissimos similique impedit? Consequatur debitis voluptate harum nam beatae, labore, omnis atque possimus magnam nihil inventore fugit mollitia repellendus impedit quidem minima suscipit aspernatur in tenetur! Odio rem ea, vel repudiandae ipsam molestiae. Velit hic, rerum temporibus ipsa eos nobis amet aliquid cumque sequi et. Quibusdam voluptates sed minima error unde nam natus ex est quod ab? Similique, illum quibusdam magnam natus eligendi fugit quasi officiis dolores, corporis a sint facilis modi, eos labore sequi omnis voluptate. Aperiam optio qui, ad dolore, id autem tenetur neque architecto repudiandae aliquam dolores sed omnis aspernatur magnam sapiente.

			.works-tab-text#works-tab-2  
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor architecto cum perferendis deleniti dolore consequatur quod quibusdam tempore assumenda alias ut repudiandae modi, nesciunt recusandae, itaque officia dolorem quos? Voluptate corrupti, esse, cumque impedit recusandae tempora neque sequi rerum, qui optio dolorem. In saepe quod impedit quia sunt nesciunt odio, consequatur dicta ipsam beatae ab perferendis unde error, eos temporibus doloremque quas nostrum voluptatem numquam! 

				p Atque officia ab reiciendis rem porro libero consequatur quis quam suscipit adipisci, modi consectetur, necessitatibus repellat, velit possimus doloribus tempore odit architecto dolorum ipsa amet excepturi optio, beatae deleniti. Eos assumenda, reiciendis soluta qui? Labore sit, accusamus quos suscipit velit dolores sunt porro fuga ad possimus doloribus facere. Dignissimos id commodi, facilis nisi hic, temporibus maxime voluptates illo nostrum odio molestias perspiciatis cupiditate rerum fugiat voluptatibus minima et iste. Esse facere optio quis explicabo ratione, vel saepe autem, neque, sit reprehenderit cumque ullam similique deserunt necessitatibus est quaerat pariatur tenetur. Beatae, repellendus in dolor possimus, omnis sunt alias fugiat obcaecati cum itaque. Quas, qui quibusdam quia blanditiis,

			.works-tab-text#works-tab-3 
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor architecto cum perferendis deleniti dolore consequatur quod quibusdam tempore assumenda alias ut repudiandae modi, nesciunt recusandae, itaque officia dolorem quos? Voluptate corrupti, esse, cumque impedit recusandae tempora neque sequi rerum, qui optio dolorem. In saepe quod impedit quia sunt nesciunt odio, consequatur dicta ipsam beatae ab perferendis unde error, eos temporibus doloremque quas nostrum voluptatem numquam!


	//garant-form
	.garant-form
		.container
			.garant-form-title Давайте сотрудничать <br> Отправьте свой вопрос и мы ответим
			.garant-form-wraper
				form(action="")
					.garant-form-wraper-left
						input(type="text" placeholder="Ваше имя")
						input(type="text" placeholder="Ваш телефон")
					.garant-form-wraper-right
						textarea(name="", cols="30", rows="4" placeholder="Ваше сообщение")
				.garant-form-right
					.garant-form-right-file
						img(src="img/icon-ckrepka.png", alt="")
						span Приложить свой проект
						a(href="#").garant-form-right-file-but Обзор
					button.garant-form-button Отправить
	
	//footer
	.footer
		.container
			.footer-wraper
				.footer-el
					img(src="img/footer-logo.png", alt="")
				.footer-el
					ul
						li
							a(href="#") о компании
						li
							a(href="#") Наши плюсы
						li
							a(href="#") О производстве
						li
							a(href="#") Услуги
						li
							a(href="#") Гарантии
				.footer-el
					ul
						li
							a(href="#") Дома из бревна
						li
							a(href="#") Дома из бруса
						li
							a(href="#") Бани из бревна
						li
							a(href="#") Бани из бруса
				.footer-el
					div 273984
					div г. Санкт-Петербург
					div ул. Подольская, д.42
					div офис: 356
				.footer-el
					.footer-phone 8 (812) 921-40-51
					span Заказать обратный звонок

	include ./block_html/footer.jade 
	//Include Footer-scripts
	include ./block_html/script.jade 