//footer
.footer
	.container
		.footer-href
			a(href="index.html") index.html
			a(href="about.html") about.html
			a(href="advant.html") advant.html
			a(href="contact.html") contact.html
			a(href="garants.html") garants.html
			a(href="project.html") project.html
			a(href="service.html") service.html
			a(href="works.html") works.html
		.footer-wraper
			.footer-el
				img(src="img/footer-logo.png", alt="")
			.footer-el
				ul
					li
						a(href="#") о компании
					li
						a(href="#") Наши плюсы
					li
						a(href="#") О производстве
					li
						a(href="#") Услуги
					li
						a(href="#") Гарантии
			.footer-el
				ul
					li
						a(href="#") Дома из бревна
					li
						a(href="#") Дома из бруса
					li
						a(href="#") Бани из бревна
					li
						a(href="#") Бани из бруса
			.footer-el
				div 273984
				div г. Санкт-Петербург
				div ул. Подольская, д.42
				div офис: 356
			.footer-el
				.footer-phone 8 (812) 921-40-51
				span Заказать обратный звонок
