//header
.header
	.container
		.header-info
			//header-left
			.header-info-left
				.header-logoBlock
					img(src="img/logo.png", alt="").header-logoBlock-img
					.header-logoBlock-text Ваш город: 
						span.dotted Санкт-Петербург
				.header-slogan Мы строим дома из бревна и клееного бруса с 1998 <br> года из Вологодской и Архангельской сосны
			//header-right
			.header-info-right
				.header-contact
					.header-contact-number 8 (812) 921-40-51
					a(href="#").header-contact-callback Закажите обратный звонок
					.header-contact-text СПб, ул. Подольская, д.42
//header-m					
.header-mainMenu
	.container
		ul.header-mainMenu-elem
			li 
				a(href="#") Готовые проекты
			li 
				a(href="#") наши плюсы
			li 
				a(href="#") о производстве
			li 
				a(href="#") услуги
			li 
				a(href="#") гарантии
			li 
				a(href="#") о компании
			li 
				a(href="#") отзывыв
			li 
				a(href="#") контакты

//header