//header
.header
	.container
		.header-info
			//header-left
			.header-info-left
				.header-logoBlock
					img(src="img/logo.png", alt="").header-logoBlock-img
					.header-logoBlock-text Ваш город: 
						span.dotted Санкт-Петербург
			.header-slogan
				.header-slogan-text Мы строим дома из Вологодской и Архангельской сосны с 1998 года
				.header-slogan-bot
					.header-slogan-bot-el
						img(src="img/icon-broun-calk.png", alt="")
						span Калькулятор стоимости строительства
					.header-slogan-bot-el
						img(src="img/icon-broun-sun.png", alt="")
						span Отправить свой проект на просчет
					.header-slogan-bot-el
						img(src="img/icon-broun-man.png", alt="")
						span Получить консультацию специалиста бесплатно
			//header-right
			.header-info-right
				.header-contact
					.header-contact-number 8 (812) 921-40-51
					a(href="#").header-contact-callback Закажите обратный звонок
					.header-contact-text СПб, ул. Подольская, д.42
//header-m					
.header-mainMenu
	.container
		.main-menu-toggle
			i.fa.fa-bars
		ul.header-mainMenu-elem
			li 
				a(href="#") Готовые проекты
			li 
				a(href="#") наши плюсы
			li 
				a(href="#") о производстве
			li 
				a(href="#") услуги
			li 
				a(href="#") гарантии

			li 
				a(href="#") 
					i.fa.fa-home
					span о компании
			li 
				a(href="#")
					i.fa.fa-map-marker
					span контакты

//header