//build:js scripts/combined.js
script(src="bower/jquery/dist/jquery.js")
script(src="bower/fancybox/source/jquery.fancybox.js")
script(src="bower/owlcar/owl-carousel/owl.carousel.min.js")
script(src="bower/bxslider-4/src/js/jquery.bxslider.js")
script(src="bower/responsive-tabs/js/jquery.responsiveTabs.min.js")
script(src="js/script.js")
// endbuild 